<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Browser test">
    <test name = "browser">
        <classes>
            <class name = "com.globoforce.testautomation.webdriver.test.BrowserTest" />
        </classes>
    </test>
</suite>